open8_nexys4ddr.cache
open8_nexys4ddr.hw
open8_nexys4ddr.ip_user_files
open8_nexys4ddr.runs
open8_nexys4ddr.sim
*.asc
*.bin
*.hex
*.out
*.obj
rom_4k_core.vhdl
software/*.vhd
*.log
*.jou
*.str
open8_nexys4ddr.srcs/sources_1/ip
